.wd-magnify {
    bottom: 8px;
    left: 6px;
}

.wd-cog {
    color: blue;
}

.wd-title {
    color: black;
    font-size: 13px;
    margin: 3px;
    font-weight: bold;
}

.wd-author {
    color: black;
    font-size: 13px;
    margin: 3px;
    display: inline;
    font-weight: bold;
}

.wd-post-gray {
    color: RGB(110, 118, 125);
    font-size: 13px;
    display: inline;
    margin: 3px;
}

.wd-username-bold {
    font-weight: bold;
    font-size: 12px;
    margin-left: 4px;
}

.wd-username{
    font-size:12px;
    margin-left: 4px;
}

.wd-nudge-caption{
    bottom: 20px;
    left: 20px;

}